h1.menu {
    text-align: center;
}

/* main content of menu */
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
  font-size: 10px;
  text-align: center;
}

  h2, h1 {
    text-align: center;
  }

h2 {
  font-size: 19px;
}

/* desktop media queries */
@media(min-width: 43.75rem){
  .content {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.content > * {
    width: 250px;
    height: 400px;
}

  p{
    font-size: 12px;
  }
}