h1.menu {
    text-align: center;
}

/* main content of menu */
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

p {
  font-size: 12px;
}

  h2 {
    text-align: center;
  }

/* desktop media queries */
@media(min-width: 43.75rem){
  .content {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  }

  .content > * {
    width: 400px;
    height: 200px;
}

  p{
    font-size: 16px;
  }
}